[flake8]
extend-exclude = .venv*
extend-ignore = E266
per-file-ignores =
    **/__init__.py:F401
    docs/_howto/scripts/*:E402
    docs/_howto/scripts/local.playlist.load-save.py:E402,F821
max-line-length = 120
