# system/other objects
**.egg-info
**.DS_Store
**.ipynb_checkpoints
**__pycache__
**.vscode

# virtualenvs
.venv*

# binary files
**.coverage*
**.env*
**.secrets*
**.log*
**.bak*
/*.yml*

# caches
**cache*

# large data & log folders
_data/
_logs/