# system/other folders
**.egg-info
**.DS_Store
**.ipynb_checkpoints
**__pycache__
**.vscode

# bin files
**.coverage*
**.env*
**.secrets*
**.log*
**.bak*

# large data & log folders
raw_data/
_data/
_log/