# system/other objects
**.egg-info
**.DS_Store
**.ipynb_checkpoints
**__pycache__
**.vscode

# virtualenvs
.venv*

# binary files
**.coverage*
**.env*
**.secrets*
**.log*
**.bak*
**.sql*
config.yml

# caches
**cache*

# build/dev/doc directories
dist/
.grip/
_site/
docs/modules.rst
docs/syncify*.rst

# large data & log folders
_data/
_logs/