[build-system]
requires = ["hatchling~=1.21"]
build-backend = "hatchling.build"

[project]
dynamic = ["version"]
name = "musify"
authors = [
  { name="George Martin Marino", email="gm.engineer+musify@pm.me" },
]
description = "Synchronise your music library to local or remote libraries"
readme = "README.md"
license-files = { paths = ["LICENSE"] }
requires-python = ">=3.12"
classifiers = [
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Operating System :: OS Independent",
    "Development Status :: 2 - Pre-Alpha",
    "Natural Language :: English",
    "Intended Audience :: End Users/Desktop",
]
dependencies = [
    "mutagen~=1.47",
    "pyyaml~=6.0",
    "requests~=2.31",
    "requests-cache~=1.1",
    "Pillow~=10.1",
    "python-dateutil~=2.8.2",
    "xmltodict~=0.13",
    "lxml~=5.1",
    "tqdm~=4.66",
]

[project.optional-dependencies]
test = [
    "pytest~=7.4",
    "pytest-lazy-fixture~=0.6",
    "pytest-mock~=3.12",
    "pytest-repeat~=0.9",
    "pycountry~=23.12",
    "requests-mock~=1.11",
]
docs = [
    "sphinx~=7.2",
    "renku_sphinx_theme",
    "graphviz~=0.20",
    "autodocsumm~=0.2",
]
dev = [
    "musify[test,docs]",
    "flake8",
    "grip~=4.6",
]

[project.urls]
"Source code" = "https://github.com/geo-martino/musify"
Issues = "https://github.com/geo-martino/musify/issues"

[tool.hatch.version]
path = "musify/__init__.py"

[tool.hatch.build.targets.sdist]
include = ["musify"]

[tool.pytest.ini_options]
minversion = "7.0"
testpaths = ["tests"]
addopts = "-color=yes"
